/* MARGIN RESEST*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

/* AUXILIARY CLASSES */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    border-bottom: #ececec 1px solid;
}

h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
    padding-bottom: 10px;
    
}

p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--grey-text);
}

ul {
    list-style: none;
}

:root {
    --brand-blue: #2196f3;
    --background-white: #e5e5e5;
    --background-grey: #2f303a;
    --background-light-grey: #f5f4fa;
    --text-color: #212121;
    --white-text: #ffffff;
    --grey-text: #757575;
    --grey-icons: #afb1b8;
}

/* SOCIALS */

.antisocial-list {
    display: flex;
    gap: 10px;
}

.icon-parent {
    fill: var(--grey-icons);
    border-radius: 50%;
    transition-duration: 250ms, 0s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-parent:is(:hover, :focus) {
    background-color: var(--brand-blue);
    fill: var(--white-text);
    cursor: pointer;
    transition-duration: 250ms, 0s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-div {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-div-footer {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-duration: 250ms, 0s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* HEADER */

.top-line {
    padding: 24px 0 25px;
}

.top-line-bcg {
    display: flex;
}

.logo {
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    width: 145px;
    height: 31px;
    color: var(--brand-blue);
}

.studio-black {
    color: #000000;
}

.studio-white {
    color: var(--white-text);
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 46px;
    margin-left: 93px;
}

.header-contact-link {
    text-decoration: none;
    color: var(--grey-text);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.header-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

/* NAVBAR BUTTONS */

.navbar-button {
    text-decoration: none;
    color: var(--text-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition-duration: 250ms, 0s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
}

.agencja {
    color: var(--brand-blue);

}

.agencja::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position:absolute;
    background-color: var(--brand-blue);
    border-radius: 2px;
    top: 44px;
   
}

.portfolio {
    color: var(--brand-blue);
}

.portfolio::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position:absolute;
    background-color: var(--brand-blue);
    border-radius: 2px;
    top: 44px;
 
}

.navbar-button:is(:hover, :focus) {
    color: var(--brand-blue);
}


.header-contact-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-contact-link {
    display: flex;
    gap: 10px;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:is(:hover,
:focus) {
    color: var(--brand-blue);
    
}

.icon-envelope {
    display: flex;
    gap: 10px;
    fill: currentColor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-envelope:is(:hover,
:focus) {
    fill: var(--brand-blue);
}

.icon-smartphone {
    display: flex;
    align-items: center;
    gap: 10px;
    fill: currentColor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-smartphone:is(:hover,
:focus) {
    fill: var(--brand-blue);
    
}

/* HERO */

.hero {
    display: flex;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);  
    background-position: center;
    background-repeat: no-repeat;
}

.hero-bcg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 106px 0;
    max-width: 1600px;
}

.effective-solutions-bcg {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.effective-solutions-text {
    color: var(--white-text);
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    max-height: 120px;
}

.hero-button {
    text-decoration: none;
    color: var(--white-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--brand-blue);
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    color: var(--white-text);

    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* FOOTER */

.footer-bcg {
    background-color: var(--background-grey);
}

.address-plus-social {
    display: flex;
    align-items: center;
    gap: 70px;
}

.social-join-us-text {
    color: var(--white-text);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.social-join-us-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.address-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    gap: 9px;
    max-width: 246px;
}

.address {
    color: var(--white-text);
}

.tel-footer:is(:hover,
:focus) {
    color: var(--brand-blue);
}

.tel-footer {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-weight: 400;
    width: fit-content;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-footer {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-weight: 400;
    width: fit-content;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-footer:is(:hover,
:focus) {
    color: var(--brand-blue);
}

/* FEATURES SECTION */

.features-bcg {
    display: flex;
    gap: 30px;
    align-content: center;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon-features {
    padding: 25px 100px;
    background-color: var(--background-light-grey);
    border-radius: 4px;
    margin-bottom: 30px;
}

/* ABOUT US SECTION */

.about-us-bcg {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0;
}
.reduced-margin {
    margin-top: -94px;
}
.about-us-items {
    display: flex;
    gap: 30px;
}

.about-us-div-with-item {
    position: relative;
    display: inline-flex;
}

.overlay-about-us {
    position: absolute;
    display:block;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

}

.overlay-about-us p {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text);
    margin-top: 27px;
    
}


/* OUR TEAM */

.our-team-bcg {
    background-color: var(--background-light-grey);
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    max-height: 648px;
}

.our-team-with-title {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.our-team-together {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-text);
    width: 270px;
    height: 428px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card p {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--grey-text);
    text-align: center;
    padding-bottom: 16px;
}

/* OUR CLIENTS */

.our-clients-group {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: nowrap;
}

.icon-clients-div {
    display: flex;
    justify-content: center;
    fill: #afb1b8;
    width: 170px;
    height: 92px;
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients-div:hover, 
.icon-clients-div:focus {
    fill: var(--brand-blue);
    border-color: var(--brand-blue);
   
}


/* PORTFOLIO */

.filter-menu {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.filter-button {
    background: var(--background-light-grey);
    border-radius: 4px;
    border-style: none;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    height: 38px;
}

.filter-button:is(:hover,
:focus) {
    cursor: pointer;
    background-color: var(--brand-blue);
    color: var(--white-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.all-button {
    width: 121px;
    left: 510px;
    margin-bottom: 50px;
}

.sites-button {
    width: 93px;
    left: 639px;
}

.applications-button {
    width: 114px;
    left: 740px;
}

.design-button {
    width: 91px;
    left: 862px;
}

.marketing-button {
    width: 121px;
    left: 961px;
}

/* PROJECTS */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.project-card {
    width: 370px;
    height: 404px;
    border-top: none;
    border: 1px solid #eeeeee;
    margin: 0;
}

.project-card:is(:hover, 
:focus) {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} 

.project-card-caption h4 {
    text-align: left;
    padding-bottom: 4px;
    margin-left: 24px;
    font-weight: 700;
}

.project-card-caption p {
    text-align: left;
    margin-left: 24px;
}

/* PROJECT CARD OVERLAY */

.box {
    position: relative;
    width: 370px;
    height: 294px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    
    transform: translatey(100%);
    transition: transform 250ms ease;
  }
  
  .box:hover, :focus .overlay {
    transform: translatex(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .overlay p {
    color: var(--white-text);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    padding: 49px;
    padding-left: 24px;
  }

/* MODAL */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility 2s linear, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background: var(--white-text);
    padding: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    display:flex;
    align-items: flex-start;
    justify-content: right;
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);

}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;  
}
  /* CLOSE BUTTON X MODAL */

.close-button {
    background-color:#ffffff;
    align-items: center;
    justify-content: center;
    border: none;
    justify-content: center;
 }

 .icon-close-black-18dp {
    width: 30px;
    height: 30px;
    background-color: var(--white-text);
    display: flex;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
  
 }

 .icon-close-black-18dp:is(:hover, :focus) {
   
    background-color: var(--white-text);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }